:root {
  --red: #bd9980;
  --white: #dcdccc;
  --yellow: #f0dfaf;

  --bg: #282828;
  --fg: #3f3f3f;

  --search-bg: rgba(255, 255, 255, 0);
}

.lightmode {
  --red: #5f605b;
  --white: #7f807b;
  --yellow: #494846;

  --bg: #f0f0f0;
  --fg: #e7e7e7;

  --search-bg: rgba(255, 255, 255, 0);
}

body {
  background-color: var(--bg);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: var(--yellow);
  transition: all 0.25s ease-out;
}

ul {
  list-style-type: none;
  text-align: left;
  padding: 2px 15px;
}

p[class="credits"] > a {
  position: fixed;
  bottom: 7px;
  right: 10px;
}

form {
  margin: 1em 0;
  position: relative;
}

form input[type="search"] {
  background-color: var(--search-bg);
  border: none;
  outline: none;
  box-sizing: border-box;
  font-weight: bold;
  font: inherit;
  margin-left: 12px;
  width: 110%;
  color: var(--yellow);
  transition: all 0.2s;
}

.engine {
  background: none;
  border: none;
  transition-duration: 0.6s;
  position: relative;
  opacity: 60%;
  width: 1.25rem;
}

.search_box {
  display: flex;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

#main_window {
  background-color: var(--fg);
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: all 0.25s;
  display: flex;
  width: max-content;
}

#content {
  padding: 2rem;
}

h1 {
  margin-top: 0;
}

#links_container {
  display: grid;
  grid-template-columns: repeat(8, max-content);
  grid-template-rows: auto;
}

#links_container li,
a {
  color: var(--white);
  text-decoration: none;
  transition: all 0.4s;
}

#links_container a:hover {
  color: var(--red);
  transition: all 0.4s;
}

.subtitle {
  font-weight: bold;
  color: var(--red);
}

.title {
  font-weight: bold;
  font-style: italic;
}

.image {
  height: 420px;
}

.bottom {
  position: fixed;
  bottom: 0;
  font-size: 0.52em;
}

.bottom a {
  text-decoration: none;
  color: var(--yellow);
}

.bottom a:hover {
  text-decoration: underline;
}

.light-mode-toggle {
  cursor: pointer;
}

.invert {
  filter: invert(1);
}

/*
  Transitions
*/
#fader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  pointer-events: none;
  background: var(--bg);
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#fader.fade-out {
  opacity: 0;
  animation-name: fade-out;
}

#fader.fade-in {
  opacity: 1;
  animation-name: fade-in;
}

/*
  Media querries
*/
@media (max-width: 1300px) {
  img#leftImg {
    object-fit: cover;
    object-position: -20% 0;
    transform: scaleX(-1);
    width: 125px;
    height: 125px;
    border-radius: 50%;

    position: absolute;
    right: 2rem;
    top: 2rem;
  }

  #links_container {
    grid-template-columns: repeat(4, max-content);
    grid-template-rows: repeat(2, max-content);
  }
}
